[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sandbox/lib/forge-std"]
	path = sandbox/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
